<div class="container">

    <hr class="my-5">

    <!-- New post button -->
       <p>
            <mdb-icon fas icon="plus" size="2x" aria-hidden="true"></mdb-icon>
       </p> 


    <!-- List of posts -->
    <div class="card-deck">
        <mdb-card>
            <mdb-card-body>
                <mdb-card-title>
                    <h5>Panel title</h5>
                </mdb-card-title>
                <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
                    content. This
                    content is a little bit longer.</mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer>
                <!-- commect button -->
                <a mdbBtn floating="true" size="lg"  
                mdbWavesEffect>
                    <mdb-icon far icon="comment-dots"></mdb-icon>
                </a>

                <!-- like button -->
                <a mdbBtn floating="true" size="lg"  mdbWavesEffect>
                    <mdb-icon far icon="heart"></mdb-icon>
                </a>

                <!-- delete button -->
                <a mdbBtn floating="true" size="lg"  mdbWavesEffect>
                    <mdb-icon far icon="trash-alt"></mdb-icon>
                </a>
            </mdb-card-footer>
        </mdb-card>

    </div>

    <!-- comment textarea popup -->
    